{% extends "base.html" %}
{% block title %}Eko - Toksikologiya və Qanlı Minerallar (Kritik Araşdırma){% endblock %}
{% block header %}Eko - Toksikologiya və Qanlı Minerallar (Kritik Araşdırma){% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='ortaq.css') }}">{% endblock %}
{% block content %}
<center>
    <img src="{{ url_for('static', filename='eko-toksikologiya və qanlı minerallar (kritik araşdırma).png') }}">
</center>
<h3>
    Bu bölmə smartfon istehsalının gizli, qaranlıq və ekoloji baxımdan ən kritik tərəfini araşdırır. Müasir yüksək texnologiyalı cihazların yaradılması qlobal ekoloji 
    fəsadlar və bəzi regionlarda insan hüquqlarının pozulması bahasına başa gəlir. <br><br>
    Mövzunu layihəndə zənginləşdirmək üçün bu əsas istiqamətlərə bölə bilərsən: <br><br>
    <b>1. Qanlı Minerallar (Conflict Minerals) Nədir?</b> <br><br>
    Smartfonların mikrosxemləri, batareyaları və daxili komponentləri üçün xüsusi nadir metallar lazımdır. Bunlardan ən kritikləri Tantal (Coltan), Qalay, Volfram və 
    Qızıldır (bunlara texnologiya sənayesində 3TG mineralları deyilir).
    <ul>
        <li>
            Humanitar Böhran: Bu mineralların ən böyük yataqları Demokratik Konqo Respublikasında yerləşir. Təəssüf ki, bu mədənlərin böyük hissəsi qeyri-qanuni silahlı 
            qruplaşmaların nəzarətindədir. Mineralların satışı yerli müharibələrin və münaqişələrin maliyyələşdirilməsinə getdiyi üçün onlara rəsmi ədəbiyyatda "Qanlı 
            Minerallar" deyilir.<br><br>
        </li>
        <li>
            Uşaq Əməyi: Xüsusilə batareya istehsalının əvəzedilməz elementi olan Kobalt mədənlərində heç bir təhlükəsizlik qaydası olmadan, çox ağır şəraitdə uşaq əməyindən 
            istifadə olunur.
        </li>
    </ul> <br>
    <b>2. Eko-Toksikologiya və İstehsalın Ekoloji Qiyməti</b> <br><br>
    
    Bir smartfonun ömür tsikli (Life Cycle Assessment) hələ o istifadə edilmədən ətraf mühitə böyük ziyan vurur:
    <ul>
        <li>
            Karbon Ayaq İzi: Bir smartfonun ömrü boyu buraxdığı ümumi karbon emissiyasının təxminən 80%-i məhz onun istehsalı (mədənçıxarma və zavod mərhələsi) zamanı baş 
            verir.
        </li><br>
        <li>
            Təbii Sərvətlərin Çirklənməsi: Litium və Kobaltın çıxarılması üçün həddindən artıq su sərf olunur, bu da yerli yeraltı su qaynaqlarının qurumasına və toksik 
            kimyəvi maddələrlə zəhərlənməsinə yol açır.
         </li>
    </ul> <br><br>
    <b>3. Planlı Köhnəlmə (Planned Obsolescence) və E-Tullantı</b> <br><br>

    İstehsalçılar proqram təminatı yeniləmələrini dayandırmaqla və ya cihazları çətin təmir olunan formaya salmaqla (məsələn, batareyanın gövdəyə yapışdırılması) bizi hər 
    2-3 ildən bir yeni telefon almağa məcbur edirlər. Bunun nəticəsi:
    <ul>
        <li>
            Qlobal E-Tullantı (E-Waste) Böhranı: Hər il milyonlarla köhnə telefon zibiliklərə atılır.
        </li> <br>
        <li>
            Ağır Metalların Sızması: Qurğuşun, civə, kadmium və bromlu alov gecikdiricilər kimi toksik maddələr torpağa və yeraltı sulara qarışaraq ekosistemi zəhərləyir, 
            qida zənciri vasitəsilə insan sağlamlığına ciddi təhlükə yaradır.
        </li>
    </ul>
</h3>
{% endblock %}