<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Əsas səhifə</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>
<body>
    <!-- Kommentləri özün yazmışam. -->
     <!-- heş bir süni intelekt verməyib! -->
    <!-- Şablona uyğun olmadığı üçün ayrı yazdım -->
    <!-- Uyğun olmamasının səbəbi o idiki ana səhifə və məlumatlar düyməsi burada olamamalı idi -->
    <header>
        <h1>Əsas səhifə</h1> 
    </header>
    <h1 class="qwerty">Telefonlar haqqında məlumat ala bilmək üçün "Məlumatlar" düyməsinə vurun ⬇</h1>

    <center>
        <a href="/melumat" class="button">Məlumatlar</a> #e=ə
    </center>    
</body>
