<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Məlumatlar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='məlumat.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>
<body>
    <!-- Şablona uyğun olmadığı üçün ayrı yazdım -->
    <!-- Uyğun olmamasının səbəbi o idiki ana səhifə və məlumatlar düyməsi burada olamamalı idi -->
    <header>
        <h1>Məlumatlar</h1>
    </header>
    <h1 class="qüerty">Nə haqqında məlumat əldə etmək istəyirsiniz?</h1>
    <center>
        <a href="/" class="button">Ana səhifə</a>

        <a href="/etimalogiyası" class="button">Etimalogiya</a>

        <a href="/tarixi" class="button">Tarix</a>
        
        <a href="/eko-toksikologiya və qanlı minerallar" class="button">Eko - Toksikologiya və Qanlı Minerallar (Kritik Araşdırma)</a> <br>

        <a href="/müqayisəli analiz klasik telefonlar və smartfonlar" class="button">Müqayisəli Analiz : Klassik Telefonlar və Smartfonlar</a>

        <a href="/smartfonların arxasındakı gizli elm sensorlar ordusu" class="button">Smartfonların Arxasındakı Gizli Elm : Sensorlar Ordusu</a> <br>

        <a href="/telefonun təkamülündə sturuktur və material analizi" class="button">Telefonun Təkamülündə Struktur və Material Analizi</a>

        <a href="/qlobal sosial iqtisadi təsirlər" class="button">Qlobal Sosial - Iqtisadi Təsirlər (Statistik Araşdırma)</a>
        
        <a href="/təklif və iradlar" class="button">Təklif və İradlar</a>
    </center>
</body>