<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Məlumatlar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='məlumat.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>
<body>
    <!-- Şablona uyğun olmadığı üçün ayrı yazdım -->
    <!-- Uyğun olmamasının səbəbi o idiki ana səhifə və məlumatlar düyməsi burada olamamalı idi -->
    <header>
        <h1>Məlumatlar</h1>
    </header>
<h1 class="qüerty">Nə haqqında məlumat əldə etmək istəyirsiniz?</h1>
    <center>
        <a href="/" class="button">Ana səhifə</a>

        <a href="/etimologiya" class="button">Etimalogiya</a> <!--'sı'silinib -->
        
        <a href="/tarix" class="button">Tarix</a>  <!--'i' silinib -->
        
        <a href="/eko-toksikologiya" class="button">Eko - Toksikologiya və Qanlı Minerallar (Kritik Araşdırma)</a> <br> <!--'və qanlı minerallar' silinib -->

        <a href="/muuqyiseli-analiz" class="button">Müqayisəli Analiz : Klassik Telefonlar və Smartfonlar</a> <!--'müqayisəli analiz klasik telefonlar və smartfonlar' olub əvvəl -->

        <a href="/gizli-elm-sensorlar" class="button">Smartfonların Arxasındakı Gizli Elm : Sensorlar Ordusu</a> <br> <!--'smartfonların arxasındakı gizli elm sensorlar ordusu' olub əvvəl -->

        <a href="/struktur-analiz" class="button">Telefonun Təkamülündə Struktur və Material Analizi</a> <!--'telefonun təkamülündə sturuktur və material analizi' olub əvvəl -->

        <a href="/sosial-iqtisadi-tesirler" class="button">Qlobal Sosial - Iqtisadi Təsirlər (Statistik Araşdırma)</a> <!--'qlobal sosial iqtisadi təsirlər' olub əvvəl -->
        
        <a href="/teklif-ve-iradlar" class="button">Təklif və İradlar</a> <!--'təklif və iradlar' olub əvvəl -->
    </center>
</body>
