{% extends "base.html" %}
{% block title %}Qlobal Sosial - Iqtisadi Təsirlər (Statistik Araşdırma){% endblock %}
{% block header %}Qlobal Sosial - Iqtisadi Təsirlər (Statistik Araşdırma){% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='ortaq.css') }}">{% endblock %}
{% block content %}
<center>
    <img src="https://i.ibb.co/d0Txp3Wh/qlobal-sosial-iqtisadi-t-sirl-r.png">
</center>
<h3>
    <b>1. Makroiqtisadi Təsirlər və Statistik Göstəricilər</b><br><br>

    A. Ümumi Daxili Məhsula (ÜDM) Töhfə <br><br>

    Qlobal mobil operatorlar assosiasiyalarının və iqtisadi araşdırma mərkəzlərinin statistik məlumatlarına əsasən, mobil texnologiyalar və xidmətlər qlobal ÜDM-in təxminən
    4.5% - 5%-ni formalaşdırır. Bu, trilyonlarla dollar dəyərində iqtisadi dövriyyə deməkdir. <br>

    <ul>
        <li>
            Birbaşa təsir: Mobil operatorların investisiyaları, infrastruktur layihələri (məsələn, 5G şəbəkələrinin qurulması) və cihaz istehsalı.
        </li><br>

        <li>
            Dolayısı təsir: Səmərəliliyin və məhsuldarlığın artması. İş adamlarının, fermerlərin və xidmət sektorunun real vaxt rejimində məlumat alması və bazara çıxışı 
            iqtisadiyyatda zaman itkisini minimuma endirir.
        </li>
    </ul>
    B. Məşğulluq və İş Yerlərinin Yaradılması <br><br>
    Mobil ekosistem birbaşa və dolayısı olaraq dünyada 25-30 milyondan çox insana iş imkanı yaradır. Bu məşğulluq sahələri əsasən aşağıdakılardır: <br>

    <ul>
        <li>
            Cihaz istehsalı və paylanması (zavodlar, mühəndislik, logistika).
        </li><br>

        <li>
            Mobil tətbiq iqtisadiyyatı (App Economy): Proqramçılar, dizaynerlər, rəqəmsal marketoloqlar.
        </li><br>

        <li>
            Çatdırılma və "Gig" iqtisadiyyatı (məsələn, Uber, Wolt kimi platformalar smartfon sensorları və GPS sayəsində milyonlarla insana çevik qazanc imkanı tanıyır).
        </li><br>
    </ul>

    C. Nağdsız Hesablaşmalar və FinTex (Financial Technology) <br><br>

    Smartfonlar ənənəvi bankçılıq sisteminə çıxışı olmayan milyardlarla insanı qlobal maliyyə dövriyyəsinə daxil etdi (M-Pesa nümunəsi kimi). QR kodlar, NFC texnologiyası və
    mobil cüzdanlar (Apple Pay, Google Pay) sayəsində rəqəmsal ödənişlər son illərdə həndəsi silsilə ilə artmışdır. Bu, gizli iqtisadiyyatın (shadow economy) qarşısını alır və 
    vergi daxilolmalarını şəffaflaşdırır.<br><br>

    <b>2.Sosial Təsirlər və Cəmiyyətin Transformasiyası</b> <br><br>

    Smartfonlar insanların gündəlik həyat tərzini və sosial davranış qaydalarını kökündən dəyişdirib: <br><br>

    A. İnformasiyaya Çıxış və Rəqəmsal Təhsil <br><br>

    Əvvəllər biliyə və təhsilə çıxış böyük kitabxanalar və fiziki universitetlərlə məhdudlaşırdısa, bu gün smartfon vasitəsilə dünyanın istənilən yerindən (Coursera, edX, 
    YouTube və s.) pulsuz və ya ucuz təhsil almaq mümkündür. Xüsusilə pandemiyalar və ya regional böhranlar zamanı smartfonlar məsafədən təhsilin yeganə körpüsü rolunu 
    oynamışdır.<br><br>

    B. Tele-tibb (Məsafədən Səhiyyə Xidmətləri) <br><br>

    Daxili sensorlar ordusu (nəbz ölçənlər, addımölçənlər, qandakı oksigeni təyin edən sensorlar) smartfonları fərdi səhiyyə məsləhətçisinə çevirib. Həkimlərlə onlayn 
    konsultasiyalar, xroniki xəstələrin göstəricilərinin məsafədən izlənilməsi tibb sahəsində xərcləri azaldır və vaxtında müdaxiləyə şərait yaradır. <br><br>
    C. Sosial Şəbəkələr və Qlobal Bağlılıq <br><br>

    Statistikaya görə, orta hesabla bir insan gün ərzində 2.5 - 3 saatını sosial şəbəkələrdə keçirir. Bu, qlobal mədəniyyətlərin bir-birinə inteqrasiyasını sürətləndirir, 
    xəbərlərin saniyələr içində dünyaya yayılmasını təmin edir (vətəndaş jurnalistikası). <br><br>

    <b>3. Rəqəmsal Bərabərsizlik və Texnologiyanın Mənfi Təsirləri</b><br><br>

    Hər bir böyük texnoloji sıçrayışın neqativ və ya kölgədə qalan tərəfləri də mövcuddur: <br><br>

    <ul>
        <li>
            Rəqəmsal Uçurum (Digital Divide): İnkişaf etmiş ölkələr yüksək sürətli 5G və smartfon imkanlarından yararlanarkən, inkişaf etməkdə olan və ya kasıb regionlarda 
            internetə çıxışın zəif olması sosial-iqtisadi bərabərsizliyi daha da dərinləşdirir.
        </li><br>

        <li>
            Psixoloji Təsirlər və Rəqəmsal Asılılıq: Dopamin alqoritmləri üzərində qurulmuş sosial şəbəkələr gənclər arasında diqqət dağınıqlığı, yuxusuzluq və virtual təklik 
            (fomo - ssenarisindən qorxma) kimi ciddi sosioloji problemlər yaradır.
        </li><br>

        <li>
            Kiber-təhlükəsizlik və Məxfilik: Şəxsi məlumatların böyük texnologiya şirkətləri (Big Tech) tərəfindən toplanması, hədəfli reklamlar və seçkilərə müdaxilə 
            (məsələn, data manipulyasiyası) qlobal siyasi və sosial sabitliyə təhdid yaradır.
        </li><br>

    </ul>
    <b>4. Müqayisəli Sosial-İqtisadi Göstəricilər Cədvəli</b><br><br>

    <table>
        <tr>
            <th>Sahə</th>
            <th>Müsbət Sosial-İqtisadi Təsir</th>
            <th>Yarana biləcək Risk / Problem</th>
        </tr>

        <tr>
            <td>İqtisadiyyat</td>
            <td>ÜDM-in 5%-ə yaxın artımı, yeni iş yerləri (tətbiq ekosistemi).</td>
            <td>Ənənəvi bizneslərin sıradan çıxması (məsələn, fiziki mağazaların bağlanması).</td>
        </tr>

        <tr>
            <td>Maliyyə</td>
            <td>Nağdsız ödənişlər, sürətli bankçılıq, şəffaflıq.</td>
            <td>Fişinq (kiber-fırıldaqçılıq), rəqəmsal pul itkiləri.</td>
        </tr>

        <tr>
            <td>Təhsil</td>
            <td>İstənilən məkandan qlobal biliyə və dərslərə sərbəst çıxış.</td>
            <td>İnterneti olmayan tələbələrin təhsildən geri qalması (uçurum).</td>
        </tr>

        <tr>
            <td>Səhiyyə</td>
            <td>Sensorlar vasitəsilə sağlamlıq monitorinqi, tele-tibb..</td>
            <td>Monitorinqi, tele-tibb.	Ekran qarşısında çox vaxt keçirməkdən yaranan fiziki və göz xəstəlikləri.</td>
        </tr>
    </table>
</h3>
{% endblock %}
