{% extends "base.html" %}
{% block title %}Tarixi{% endblock %}
{% block header %}Tarixi{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='ortaq.css') }}">{% endblock %}
{% block content %}
<center>
    <img src="{{ url_for('static', filename='tarix.png') }}">
</center>
<h3>
    Telefonun tarixi bəşəriyyətin ən böyük texnoloji inqilablarından biridir. Səsin naqillər, radio dalğaları və peyklər vasitəsilə 
    minlərlə kilometr uzağa ötürülməsi hekayəsi, əslində, bir çox alimin, ixtiraçının və amansız patent müharibələrinin tarixisidir.
    Bu tarixi inkişafı xronoloji olaraq bir neçə mühüm mərhələyə ayıra bilərik: <br><br>

    <b>1. İlk Addımlar: Teleqrafdan Səs Ötürülməsinə Doğru</b><br><br>

    XIX ərin ortalarında artıq uzaq məsafəyə məlumat ötürmək üçün Teleqraf (Morze əlifbası ilə) mövcud idi. Lakin elm adamları nöqtə 
    və cizgilərdən ibarət siqnalları deyil, birbaşa insan səsini ötürməyin yollarını axtarırdılar. <br><br>

    <ul>
        <li>
            1854-cü il (Şarl Bursel): Fransız mühəndis Şarl Bursel (Charles Bourseul) elektrik cərəyanı 
            vasitəsilə səsin ötürülə biləcəyi nəzəriyyəsini irəli sürdü, lakin bunu praktiki cihaz halına gətirmədi.
        </li><br>

        <li>
            1860-cı il (Antonio Meuççi): İtalyan ixtiraçı Antonio Meuççi (Antonio Meucci) Nyu-Yorkda "Teletrofono" adlandırdığı bir 
            cihaz düzəltdi və evinin zirzəmisi ilə xəstə yoldaşının otağı arasında əlaqə yaratdı. Maddi imkansızlıq ucbatından daimi 
            patent ala bilmədiyi üçün uzun illər tarixdə adı kölgədə qaldı.
        </li><br>

    </ul>
    <b>2. Böyük İxtira və Patent Müharibəsi: 1876</b> <br><br>

    Telefonun rəsmi tarixi 1876-cı il martın 14-də rəsmiləşdi. Bu dövr həm də elmi rəqabətin ən pik nöqtəsi idi.
    <ul>
        <li>
            Qrem Bell və Elia Qrey rəqabəti: 1876-cı il fevralın 14-də Aleksandr Qrem Bell (Alexander 
            Graham Bell) və digər ixtiraçı Elia Qrey (Elisha Gray) bir-birindən xəbərsiz şəkildə eyni gündə, cəmi bir neçə saat 
            fərqlə telefon patenti üçün müraciət etdilər. Patent hüququ müraciəti bir neçə saat tez edən Bellə verildi.
        </li><br>

        <li>
            İlk cümlə (10 mart 1876): Bell laboratoriyada maye ötürücü ilə sınaq apararkən mayeni paltarına 
                dağıdır və köməkçisini çağırır. Telefon xətti ilə tarixdə ötürülən ilk anlaşıqlı cümlə bu olur:
        </li><br>
    </ul>

    "Cənab Uatson, bura gəlin, sizə ehtiyacım var." (Mr. Watson, come here, I want to see you.)<br><br>

    <b>3. Telefonun Kütləviləşməsi və Şəbəkələrin Qurulması</b><br><br>

    İlk telefonlar bir-birinə birbaşa naqillərlə bağlı idi (məsələn, yalnız iki ev arasında). Şəbəkə böyüdükcə bu sistem yararsız 
    hala gəldi və Telefon Stansiyaları yaradıldı.
    <ul>
        <li>Ə
            l ilə idarə olunan stansiyalar: Zəng edən şəxs əvvəlcə stansiyadakı operatora (əsasən qadınlar 
                işləyirdi) qoşulur, danışmaq istədiyi şəxsin adını və ya nömrəsini deyirdi. Operator isə kabelləri lazımi yuvalara taxaraq 
                xətləri əl ilə birləşdirirdi.
            </li><br>
        <li>
            Avtomatlaşdırma (1891): Almon Stroucer (Almon Strowger) adlı bir dəfn bürosu sahibi, operator 
            qadınların müştəriləri onun rəqiblərinə yönləndirdiyini düşünüb ilk avtomat telefon stansiyasını və fırlanan diski (yığma 
            diskini) ixtira etdi. Beləliklə, insanlar operator olmadan birbaşa nömrə yığmağa başladılar.
        </li><br>
    </ul>
    <b>4. Mobil İnqilab: Kabellərdən Azad Olmaq</b><br><br>
    XX ərin ortalarında radiodalğaların inkişafı rabitəni naqillərdən qurtardı.
    <ul>
        <li>
            İlk Mobil Telefon (1973): "Motorola" şirkətinin mühəndisi Martin Kuper (Martin Cooper) küçədə gəzərək ilk mobil telefon 
            zəngini etdi. Bu cihazın çəkisi 1.1 kq idi, enerjisi cəmi 20 dəqiqə bəs edirdi və tam doldurulması 10 saat çəkirdi. Tarixə 
            bu cihaz "kərpic" (the brick) adı ilə düşdü.
        </li><br>
        <li>
            1G-dən 5G-yə keçid: 1980-ci illərdə yalnız səs ötürən analoq şəbəkələr (1G), 1990-cı illərdə SMS 
            yazmağa imkan verən rəqəmsal şəbəkəlәr (2G), 2000-ci illәrdә internetә çıxış (3G) vә sürәtli mobil internet (4G / 5G) dövrü 
            başladı.
        </li><br>
        </ul>

    <b>5. Müasir Dövr: Smartfonların Doğuşu</b><br><br>

    2000-ci illərin ortalarına qədər telefonlar yalnız zəng etmək və mesajlaşmaq üçün idi. Lakin 2007-ci ildə Stiv Cobs (Steve Jobs) 
    tərəfindən iPhone-un təqdim edilməsi ilə dünya tamamilə dəyişdi. Düyməli telefonları fiziki klaviaturası olmayan, tamamilə sensor
    ekranlı, internet mərkəzli "Ağıllı Telefonlar" (Smartfonlar) əvəz etdi.
</h3>
{% endblock %}